<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

    <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>

    <servlet>
	    <servlet-name>JerseyWebApplication</servlet-name>
	    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	    <!-- Required in case its unable to find Resource class 
	    <init-param>
	        <param-name>com.sun.jersey.config.property.packages</param-name>
	        <param-value>com.examples.mongodb</param-value>
	    </init-param>
	         and unable to marshal JSON/xml response  
	    <init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
	    </init-param>
	     -->
	</servlet>

    <servlet-mapping>
        <servlet-name>JerseyWebApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
